Source: juno-tablet
Section: base
Priority: optional
Build-Depends: debhelper
Maintainer: Giovanni Caligaris <junocomputers@outlook.com>

Package: juno-tablet
Section: base
Priority: optional
Architecture: all
Depends: flatpak,
	 hwinfo,
	 libinput-tools,
	 usbutils,
	 plocate,
	 qtwayland5, 
	 fonts-open-sans,
	 ffmpeg,
	 gstreamer1.0-gl,
	 mesa-va-drivers,
	 mesa-vulkan-drivers,
	 git,
	 curl,
	 intel-media-va-driver-non-free,
	 thermald,
	 juno-powertop,
	 juno-wallpaper,
	 firmware-sof-signed,
	 bolt,
	 acpid,
	 lshw,
	 alsa-ucm-conf,
	 lm-sensors,
	 alsa-topology-conf,
	 juno-info,
	 v4l-utils,
	 wget,
	 irqbalance,
	 openssh-server,
	 acpi,
	 power-profiles-daemon,
	 alsa-utils,
	 unrar,
	 rar,
	 p7zip-full,
	 p7zip-rar,
	 ubuntu-restricted-addons,
	 gstreamer1.0-plugins-bad,
	 smartmontools,
	 cpufrequtils,
	 iw
Homepage: https://junocomputers.com
Description: Ubuntu based drivers for Juno Tablet
